﻿    body {
      color: #000;
      background: #fff;
      background-image: url(cafe.jpg);
      margin: auto;
      padding: 0;
      font-family: Georgia, Palatino, serif;
    }
    .Button{ 
        opacity: 0.8;
        font-weight:700; 
        -moz-border-radius:12px;
        -webkit-border-radius:12px;
        border-radius:6px!important;
        background-color: dodgerblue;
        color: red;
    font-style: normal;
    font-variant: normal;
    font-size: 12pt;
    line-height: normal;
    font-family: verdana;
}
    .Warning {
        font: 10pt verdana;
        font-weight:500;
        color: red;
        border-width: 0;
    }