﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="home.aspx.cs" Inherits="cafeteria.home" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<style>
    @import "Global.css";
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>home</title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="text-align:center">

        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
        <p style="color: teal; font: 20pt verdana">
            <br/><br/>
           Welcome To SEU Online Cafeteria!</p>
        <p>
        <asp:Button ID="ToOrder" runat="server" Text="Start ordering" OnClick="ToOrder_Click" Height="45px" style="margin-top: 101px" Width="210px" CssClass="Button" />
        </p> 
        <p>
        The Project is under the BSD Licnese, Copyright (c) 2018 fallenhh and Zambashilidye. All Rights Reserved.
        </p>
    </div>
    </form>
</body>
</html>
