﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="success.aspx.cs" Inherits="cafeteria.success" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<style>
    @import "Global.css";
</style>
    <title>Enjoy</title>
</head>
<body>
    <form id="form1" runat="server">
    <div id="container">
    <div style="margin-top: 200px;float: left;width: 542px; margin-left:50px; background-color: wheat; opacity:0.9; stop-opacity:0.95; height: 298px; text-align:center;">

    <p style="font-size: 30px; color: orange;margin-top: 100px">
            Succeed!! Plese enjoy
        </p>
        <asp:Button id="Button_Another" runat="server" Text="Another Order" OnClick="Button1_Click" CssClass="Button"></asp:Button>
        <asp:Button id="Button_BackMenu" runat="server" Text="Back to Menu" OnClick="Button2_Click" CssClass="Button" Width="243px"></asp:Button>
        </div>
      <div style="margin-top: 200px ; margin-right:50px; float: right; width:300px">
        <img src="cheese.jpg" title="This is what I die for!" style="margin-left: 0px"/>
       </div>
    </div>
    </form>

</body>
</html>
